<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peter Chat</title>
  <script>

    (async () => {
      const isTokenValid = await checkAccessToken();
      console.log(isTokenValid);
      if (isTokenValid){
        location.href='/chatroom'
      } else {
        location.href='/login';
      }
    })();

    /**
     * 토큰 존재유무 및 유효성 여부를 확인합니다.
     * 토큰이 존재하지 않거나 유효하지 않으면 false 를 리턴합니다. (유효하지 않으면 지워버립니다.)
     */
    async function checkAccessToken() {
      const accessToken = localStorage.getItem('accessToken');
      if (!accessToken){
        return false;
      }
      const response = await fetch('/auth/token-validation', {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({ token: accessToken })
      });

      const { success } = await response.json();
      if (!response.ok || !success) {
        localStorage.removeItem('accessToken');
        return false;
      }
      return true;
    }
  </script>
</head>
<body>
</body>
</html>

