<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='waiting-room.css'>
    <title>Petter Chatter</title>
  </head>
  <body>
     <header>
       <div class='head-text'>Petter Chatter 대기실</div>
     </header>
     <main>
       <div class='left-layout'>
         <div id='game-room-container'>
           <div id='column-header'>
             <div class='room-number'>번호</div>
             <div style='width:1px; height: 20px; background: white'></div>
             <div class='room-title'>제목</div>
             <div style='width:1px; height: 20px; background: white'></div>
             <div class='room-host'>방장</div>
             <div style='width:1px; height: 20px; background: white'></div>
             <div class='room-member-count'>인원</div>
             <div style='width:1px; height: 20px; background: white'></div>
           </div>
           <div class='game-room'>
             <div class='room-number'>1</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-title'>초성게임 초고수만!!</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-host'>peter</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-member-count'>4/4</div>
             <div style='width:1px; height: 20px;'></div>
             <button class='join-button'>참여</button>
           </div>
           <div style='width:auto; height:1px; background: dodgerblue; opacity: 0.3;' ></div>
           <div class='game-room'>
             <div class='room-number'>2</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-title'>초성게임 새벽반 막고!!</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-host'>koo</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-member-count'>3/3</div>
             <div style='width:1px; height: 20px;'></div>
             <button class='join-button'>참여</button>
           </div>
           <div style='width:auto; height:1px; background: dodgerblue; opacity: 0.3;' ></div>
           <div class='game-room'>
             <div class='room-number'>3</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-title'>아무나 오삼</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-host'>yobs</div>
             <div style='width:1px; height: 20px;'></div>
             <div class='room-member-count'>6/10</div>
             <div style='width:1px; height: 20px;'></div>
             <button class='join-button'>참여</button>
           </div>
           <div style='width:auto; height:1px; background: dodgerblue; opacity: 0.3;' ></div>
         </div>
       </div>
       <div class='right-layout'>
        <button id='make-room-button'>방 만들기</button>
       </div>
     </main>
     <footer>
       <div class='bottom-text'>Copyright © 2021 PeterLab all rights reserved.</div>
     </footer>
  </body>
</html>
